.game-container {
    overflow: hidden;
    position: absolute;
    top:100px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    /* width: 320px ;
    height: 640px; */
    /* border: 1px solid black; */
    background-image: linear-gradient(to left top, rgba(89, 89, 209, 0.438), rgba(218, 72, 72, 0.541));
    box-shadow: 0 0 2px 2px black;
}

.squere {
    /* border: 1px solid black; */
    /* position: absolute; */
    width: 30px;
    height: 30px;
}

.empty-squere {
    /* border: 1px solid black; */
    /* position: absolute; */
    width: 30px;
    height: 30px;
}

.shape {
    /* border: 1px solid; */
    background-color: rgb(96, 126, 190);
}

.head-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


